In [2]:
import mysql.connector

In [32]:
# establishing connection to the localserver.
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'abc123',
)
my_cursor = mydb.cursor(buffered=True)

In [33]:
# drop database query.
my_cursor.execute("DROP DATABASE python_database")

In [34]:
# create database query.
my_cursor.execute("CREATE DATABASE python_database")

In [39]:
# show databases query.
my_cursor.execute("SHOW DATABASES")
for x in my_cursor:
    print(x)

('a_database',)
('employees',)
('information_schema',)
('joins',)
('lab_assignment_db',)
('lab_db',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('python_database',)
('student',)
('university',)
('world',)

In [89]:
# create table query.
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'abc123',
    database = 'python_database'
)
my_cursor = mydb.cursor(buffered=True)
sql_query = "CREATE TABLE language_usage (name VARCHAR(40) NOT NULL, usage_of_language VARCHAR(20) NOT NULL)"
my_cursor.execute(sql_query)

In [88]:
# drop table query.
my_cursor.execute("DROP TABLE language_usage")

In [90]:
# primary key and a column.
sql_query = "ALTER TABLE language_usage ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY"
my_cursor.execute(sql_query)

In [93]:
# insert a record query.
sql_query = "INSERT INTO language_usage (name, usage_of_language) VALUES (%s, %s)"
value = ('c#', '74%')
my_cursor.execute(sql_query, value)
# to save the work on server.
mydb.commit()

In [99]:
# insert records query.
sql_query = "INSERT INTO language_usage (name, usage_of_language) VALUES (%s, %s)"
value = [
    ('ruby', '78%'),
    ('react', '88%'),
    ('r', '75%'),
    ('java', '79%'),
]
my_cursor.executemany(sql_query, value)
mydb.commit()
print(my_cursor.rowcount)

4

In [123]:
# retrieving records using SELECT.
my_cursor.execute("SELECT name, usage_of_language FROM language_usage")
records = my_cursor.fetchall()
for x in records:
    print(x)

('python', '84%')
('c#', '74%')
('ruby', '78%')
('react', '88%')
('r', '75%')
('java', '79%')
('ruby', '78%')
('react', '88%')
('r', '75%')
('java', '79%')
('ruby', '78%')
('react', '88%')
('r', '75%')
('java', '79%')
('ruby', '78%')
('react', '88%')
('r', '75%')
('java', '79%')
('ruby', '78%')
('react', '88%')
('r', '75%')
('java', '79%')