In [2]:
# mysql module with connector class, that will allow python to use all methods and attributes for querying and connectivity.
import mysql.connector

In [81]:
# creating a connection to mysql by providing host, user, and password.
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'abc123'
)
mydb

In [9]:
# the connection was made successful, it means now we can start querying the database using SQL statements.

In [85]:
# Creating a database -> mydatabase.
my_cursor = mydb.cursor()
my_cursor.execute("CREATE DATABASE mydatabase")

In [86]:
# checking if a database already exists.
my_cursor.execute("SHOW DATABASES")
for x in my_cursor:
    print(x)

('a_database',)
('employees',)
('information_schema',)
('joins',)
('lab_assignment_db',)
('lab_db',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('student',)
('university',)
('world',)

In [3]:
# we can also set the database value initially, when establishing connection, if we are working on a old database.
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'abc123',
    database = 'mydatabase'
)

# creating cursor object, to execute queries.
my_cursor = mydb.cursor(buffered=True)

In [92]:
# creating a table in mysql.
my_cursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [91]:
# checking if a table exists in database.
my_cursor.execute("SHOW TABLES")
for x in my_cursor:
    print(x)

In [95]:
my_cursor.execute("DROP TABLE customers")

In [96]:
# when creating a table, you should also create a column with a unique key for each record.
my_cursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [94]:
# if the table already exists, but need modification, we use ALTER
my_cursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [97]:
# inserting a record into the table -> customers.
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
value = ("Tuna", "Marine Life")

my_cursor.execute(query, value)

# it is mandatory to add this method, it will save the changes into the dabase.
mydb.commit()

print(my_cursor.rowcount, " record inserted.")

1  record inserted.

In [98]:
# inserting multiple records or rows in the table -> customers.  (INSERT)
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
values = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2')
]

my_cursor.executemany(query, values)
mydb.commit()
print(my_cursor.rowcount, "records added.")

9 records added.

In [99]:
# in order to get the inserted row id. 
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
value = ("Jason", "Barrsara Tyaol")

my_cursor.execute(query, value)
mydb.commit()

# display the last recorded row id.
print("Record Inserted ID {}".format(my_cursor.lastrowid))

Record Inserted ID 11

In [4]:
# selecting records from a table -> SELECT
my_cursor.execute("SELECT * FROM customers")

# we use the fetchall() method, which fetches all rows from the last executed statement.
records = my_cursor.fetchall()
for each_record in records:
    print(each_record)

(1, 'Tuna', 'Marine Life')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Jason', 'Barrsara Tyaol')

In [102]:
# selecting specific columns from table.
query = "SELECT name, address FROM customers"
my_cursor.execute(query)
records = my_cursor.fetchall()
for each in records:
    print(each)

('Tuna', 'Marine Life')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Jason', 'Barrsara Tyaol')

In [121]:
# fetching only one row from table -> customers.
my_cursor.execute("SELECT * FROM customers")
record = my_cursor.fetchone()
print(record)

(1, 'Tuna', 'Marine Life')

In [11]:
# selecting with a filter -> WHERE clause
query = "SELECT name, address FROM customers WHERE id > '4'"
my_cursor.execute(query)
records = my_cursor.fetchall()
for x in records:
    print(x)

# WHERE address = 'One way 98'"  -> BAD because of SQL Injection.

('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Jason', 'Barrsara Tyaol')

In [25]:
# use of wildcard characters.  -> %
query = "SELECT name FROM customers WHERE name LIKE '%n%'"
my_cursor.execute(query)
records = my_cursor.fetchmany(2)
for x in records:
    print(x)

('Tuna',)
('Hannah',)

In [40]:
# good approch, avoiding SQL Injection.
query = "SELECT * FROM customers WHERE name <> %s"
value = ('Tuna',)
my_cursor.execute(query, value)
records = my_cursor
for x in my_cursor.fetchall():
    print(x)

(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Jason', 'Barrsara Tyaol')